<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysMenuDao">
	<update id="updateObject">
         update sys_menus
         set
           name=#{name},
           type=#{type},
           sort=#{sort},
           url=#{url},
           parentId=#{parentId},
           permission=#{permission},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
        where id=#{id}
    </update>
	<insert id="insertObject" >
     	insert into sys_menus
          	(name,url,type,sort,note,parentId,permission,
          	 createdTime,modifiedTime,createdUser,modifiedUser)
         	 values	
         	 (#{name},#{url},#{type},#{sort},#{note},#{parentId},
         	 #{permission},now(),now(),#{createdUser},#{modifiedUser})
  	</insert>
	
	<!--获取所有的菜单信息-->
	<!-- 方案一 -->
	<!-- <select id="findObjects" resultType="map">
		select c.*,p.name parentName
		from sys_menus c left join sys_menus p
		on c.parentId=p.id
	</select> -->
	<!-- 方案二 -->
	<select id="findObjects" resultType="map">
		select c.*,(select name from sys_menus p
					where c.parentId=p.id) parentName 
		from sys_menus c
	</select>
	<select id="findPermissions" resultType="string">
		select permission<!-- sys:user:update -->
		from sys_menus
		<where>
			<foreach collection="menuIds" separator="or" item="item">
				id=#{item}
			</foreach>
		</where>
	</select>
</mapper>