<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>This is Activity Page</h1>
	<button onclick="javascript:location.href='activity_edit'">创建活动</button>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>title</th>
				<th>category</th>
				<th>startTime</th>
				<th>endTime</th>
				<th>state</th>
				<th>remark</th>
				<th>createdUser</th>
				<th>createdTime</th>
				<th>Operation</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="a: ${list}">
				<td th:text="${a.id}"></td>
				<td th:text="${a.title}"></td>
				<td th:text="${a.category}"></td>
				<td th:text="${#temporals.format(a.startTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
				<td th:text="${#temporals.format(a.endTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
				<td th:text="${a.state==1?'进行中':'已结束'}"></td>
				<td th:text="${a.remark}"></td>
				<td th:text="${a.createdUser}"></td>
				<td th:text="${#temporals.format(a.createdTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
				<td><a th:href="@{/activity/doFindById(id=${a.id})}">update</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>